$primary-font-regular: "sf-pro-display-regular";
$primary-font-medium: "sf-pro-display-medium";
$primary-font-bold: "sf-pro-display-bold";

$secondary-font-regular: "montserrat-regular";
$secondary-font-medium: "montserrat-medium";
$secondary-font-bold: "montserrat-bold";

$primary-color: #000753;
$secondary-color: #F1761A;

$third-1000: #2E3131;
$third-900: #586268;
$third-800: #849097;
$third-700: #959FA5;
$third-600: #ACB3B8;
$third-500: #BDC3C7;
$third-400: #DEE2E8;
$third-300: #E4E8EE;
$third-200: #E8ECF1;
$third-100: #F3F5F8;
$third-50: #F9FAFB;

$white: #FFFFFF;
$black: #000000;

$success-300: #00B374;
$success-200: #00C781;
$success-100: #66DDB3;

$danger-300: #FF0505;
$danger-200: #FF4040;
$danger-100: #FF8C8C;

$warning-300: #E6A832;
$warning-200: #FFBB38;
$warning-100: #FFD683;