@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icon/icomoon.eot?muo2hx');
  src:  url('/assets/fonts/icon/icomoon.eot?muo2hx#iefix') format('embedded-opentype'),
    url('/assets/fonts/icon/icomoon.ttf?muo2hx') format('truetype'),
    url('/assets/fonts/icon/icomoon.woff?muo2hx') format('woff'),
    url('/assets/fonts/icon/icomoon.svg?muo2hx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e90c";
}
.icon-globe:before {
  content: "\e90e";
}
.icon-Heart:before {
  content: "\e902";
}
.icon-ShoppingCart:before {
  content: "\e903";
}
.icon-User:before {
  content: "\e904";
}
.icon-Facebook:before {
  content: "\e900";
}
.icon-Instagram:before {
  content: "\e901";
}
.icon-Twitter:before {
  content: "\e905";
}
.icon-Youtube:before {
  content: "\e906";
}
.icon-star-empty:before {
  content: "\e907";
  color: #000;
}
.icon-star-fill:before {
  content: "\e90a";
  color: #000;
}
.icon-heart-banner:before {
  content: "\e90b";
  color: #000;
}
.icon-angle-left:before {
  content: "\e908";
}
.icon-angle-right:before {
  content: "\e909";
}
.icon-Search:before {
  content: "\e90d";
}
